.development-hardware-warp .hardware-item {
  width: 150px;
  height: 175px;
  align-content: center;
  text-align: center;
  /* border: 2px dashed rgba(0, 0, 0, 0.07); */
  margin: 0 20px 20px 0;
  text-decoration: none;
  transition: all .2s ease-in;
  text-align: center;
  color: #fff;
  background-color: #f2f3f7;
  float: left;
}

.development-hardware-warp .hardware-item:hover {
  /* border-color: #34c388; */
  text-decoration: none;
  color: #fff;
}

.development-hardware-warp .hardware-item img {
  margin: 30px 0 20px 0;
  width: 60px;
  height: 60px;
}

.development-hardware-warp .hardware-item .hardware-name {
  height: 32px;
  line-height: 32px;
  margin-top: 32px;
  background-color: #343844;
  cursor: pointer;
}

.development-hardware-warp .hardware-item .hardware-name:hover {
  text-decoration: dashed;
}

.nav-tabs {
  padding-left: 0 !important;
  border-bottom: none;
}
.nav-tabs li {
  border-radius: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.nav-tabs a {
  color: #333;
  border-radius: 4px;
}
.nav-tabs li > a {
  border: none !important;
  border-radius: 4px !important;
}

.nav-tabs li a:hover {
  border: none;
  color: #000;
  background-color: #f2f3f7;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  border-radius: 4px;
  background-color: #000;
  border: none !important;
  color: #fff !important;
}

.page-footer {
  clear: both;
}

.book-summary .summary > li:last-child {
  display: none;;
}

.book-summary .summary .divider {
  display: none;;
}

.gt-initing {
  display: none;
}

#gitalk-container {
  clear: both;
}

.alert {
  margin-top: 20px;
  border-left: 4px solid;
}
.alert .hints-container p {
  margin-bottom: 0;
}

.alert-danger {
  color: #333;
  background-color: #f5f7f9;
  border-color: #f5f7f9;
  border-left-color: #f77d05;
}
.alert-danger .hints-icon {
  font-size: 20px;
  color: #f77d05;
}

.alert-info {
  color: #333;
  background-color: #f5f7f9;
  border-color: #f5f7f9;
  border-left-color: #3884ff;
}

.alert-info .hints-icon {
  font-size: 20px;
  color: #3884ff;
}


/* table */
table {
  margin: 24px auto 32px auto !important;
}

table tr, table td, table th {
  border: none !important;
}

table tbody tr {
  border-bottom: 1px solid rgba(230, 236, 241) !important;
}
table thead tr:first-child {
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(230, 236, 241) !important;
}

table tr:nth-child(2n) {
  background-color: #fff !important;
}

p .token.punctuation {
  color: #333;
}